@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  src: local('Cinzel-Bold'), url(../fonts/cinzel_bold.woff) format('woff');
}
body {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.45;
  color: black;
  background: white;
}
h1, h2, h3 {
  font-family: 'Cinzel', Georgia, serif;
  font-weight: 700;
  margin: 1rem 0;
  letter-spacing: 2px;
}
h1 {
  font-size: 130%;
}
h2 {
  font-size: 115%;
}
h3 {
  font-size: 100%;
}
ul.links {
    list-style-type: circle;
}
.sidebar-nav {
	margin-top: 20px;
	padding: 0;
	list-style: none;
}

.upload-body{
  position: relative;
  width: 120px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  background: lightgrey;
  margin-bottom: 5px;
}
.upload-body * {
    position: absolute;
    width: 119px;
    height: 119px;
    top: 0;
    left: 0;
}

#upload-input {
  opacity: 0;
  cursor: pointer;
  border-radius: 50%;
}

.shadow {
  opacity: .8;
}

